{% extends 'default.html' %}
{% block content %}

  {% block tour_detail %}
    {% if tour %}
      <h2>{{ tour.tour_name }}</h2>
      <p>{{ tour.tour_description }}</p>

      {% if tour.tour_img %}
        <img src="{{ tour.tour_img.url }}" alt="{{ tour.tour_name }}">
      {% endif %}
    {% endif %}
  {% endblock %}

  {% block drop_down %}
    <p>Количество элементов: {{ tour.drop_down_elements.count }} Отладка </p>

    {% for el in tour.drop_down_elements.all %}
      <p>{{ el.element_name }}</p>
      <p>{{ el.element_description }}</p>
      <img src="{{ el.element_icon.url }}" alt="Изображение недоступно">
      <img src="{{ el.element_img.url }}" alt="Изображение недоступно">
      <video width="640" height="360" controls>
        <source src="{{ el.element_video.url }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
      </video>
    {% empty %}
      <p>Элементов нет</p>
    {% endfor %}
  {%endblock%}

{% endblock content %}
